 #root {
    /* max-width: 1280px; */
    margin: 0 auto;
} 

.padded {
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .padded {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}